.navbar{
  padding-left: 2%;
  margin-left: 0;
}

.main_container{
  margin-top: 1%;
  padding-left: 4%;
  margin-left: 0;
}

.sidebar{
  font-size: large;
}

.main_boxes{
  margin-top: 2%;
}

.create_contents{
  margin-top: 2%;
}