@import url('../_reset.css');
.sub-nav{
  display: flex;
  justify-content: space-between;
}
.search{
  width: 80%;
  min-width: 400px;
}
.search input{
  width:300px;
}

.new-box{
  width: 20%;
  min-width: 100px;
  
}
.new-btn{
  padding:3px 10px;
  
}
